@import "_common";

//home btn

.home_btn{
    >a{
        position: fixed;
        bottom: 18%;
        right: 10.2%;
        z-index: 10;

        >svg{
            width: 90%;
            >path{
                &:hover{
                    fill: #bc9273;
                }
            }
        }
    }
}

main {
    .contain {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #0b0d0a;
        margin: 0 auto;


        .sub-navi {
            width: $content;
            margin: 7vw auto 11vw;

            >article {
                margin-bottom: 2vw;

                .title-02 {
                    color: #fff;

                    &::after {
                        content: '';
                        clear: both;
                        width: 100%;
                        height: 12px;
                        display: block;
                        border-bottom: 2px solid #fff;
                    }
                }
            }

            .portfolio {
                margin: 3vw auto 4vw;
                .port_nav {
                    display: flex;
                    justify-content: space-around;

                    .sub_tab {
                        color: #b1b1b1;
                        cursor: pointer;

                        &.active {
                            color: #fff;
                            font-weight: bold;
                            text-shadow: 3px 3px 5px #b1b1b1;
                        }
                    }
                }
            }


            .section-title {
                display: flex;
                align-items: flex-end;
                margin-bottom: 3vw;

                .tab-title {
                    margin-right: 5vw;
                    display: none;

                    >h3 {
                        font-size: 2.5rem;
                        color: #b1b1b1;

                        >b {
                            font-size: 5rem;
                            color: #b1b1b1;
                        }
                    }

                    &.active {
                        display: block;
                    }
                }
            }

            .explain {
                .contains {
                    .sub-proj {

                        .proj-title {
                            margin-bottom: 3vw;

                            >h4 {
                                display: inline-block;
                                font-size: 1.75rem;
                                color: #fff;
                                padding-right: 3vw;
                            }

                            >a {
                                display: inline-block;
                                color: #fff;

                                &:hover {
                                    color: #bc9273;
                                }

                                &:nth-of-type(2){
                                    margin-left: 3vw;
                                }
                            }
                        }

                        .description {
                            margin-bottom: 8vw;

                            >ul {
                                display: flex;
                                justify-content: left;

                                >li {
                                    margin-right: 3vw;

                                    >p {
                                        white-space: pre-line;
                                        color: #fff;
                                        padding: 1vw 0 0;

                                        >b {
                                            font-size: 1.25rem;
                                            color: #fff;
                                        }

                                        >span {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }

                        &.open {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// text-shadow: 5px 5px 3px #fff;


/*
==============================================
=================반응형 데스크탑================
==============================================
*/
@media (min-width:1025px) and (max-width:1600px) {
    
    .home_btn{
        >a{
            position: fixed;
            bottom: 23%;
            right: 5%;
            z-index: 10;
    
            >svg{
                width: 75%;
                >path{
                    &:hover{
                        fill: #bc9273;
                    }
                }
            }
        }
    }
    
    main {
        overflow: hidden;
        .contain {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #0b0d0a;
            margin: 0 auto;
    
    
            .sub-navi {
                width: 80%;
                margin: 7vw auto 11vw;
    
                >article {
                    margin-bottom: 2vw;
    
                    .title-02 {
                        color: #fff;
                        font-size: 1.8rem;
                        &::after {
                            content: '';
                            clear: both;
                            width: 100%;
                            height: 12px;
                            display: block;
                            border-bottom: 2px solid #fff;
                        }
                    }
                }
    
                .portfolio {
                    margin: 3vw auto 4vw;
                    .port_nav {
                        display: flex;
                        justify-content: space-around;
    
                        .sub_tab {
                            flex-shrink: 0;
                            color: #b1b1b1;
                            cursor: pointer;
                            font-size: 1.4rem;
                            &.active {
                                color: #fff;
                                font-weight: bold;
                                text-shadow: 3px 3px 5px #b1b1b1;
                            }
                        }
                    }
                }
    
    
                .section-title {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 3vw;
    
                    .tab-title {
                        margin-right: 5vw;
                        display: none;
    
                        >h3 {
                            font-size: 2.2rem;
                            color: #b1b1b1;
    
                            >b {
                                font-size: 4rem;
                                color: #b1b1b1;
                            }
                        }
    
                        &.active {
                            display: block;
                        }
                    }
                }
    
                .explain {
                    .contains {
                        .sub-proj {
    
                            .proj-title {
                                margin-bottom: 3vw;
    
                                >h4 {
                                    display: inline-block;
                                    font-size: 1.6rem;
                                    color: #fff;
                                    padding-right: 3vw;
                                }
    
                                >a {
                                    display: inline-block;
                                    color: #fff;
                                    font-size: 0.8rem;
                                    &:hover {
                                        color: #bc9273;
                                    }
    
                                    &:nth-of-type(2){
                                        margin-left: 3vw;
                                    }
                                }
                            }
    
                            .description {
                                margin-bottom: 8vw;
    
                                >ul {
                                    display: flex;
                                    justify-content: left;
    
                                    >li {
                                        margin-right: 3vw;
    
                                        >p {
                                            white-space: pre-line;
                                            color: #fff;
                                            padding: 1vw 0 0;

                                            >b {
                                                font-size: 1rem;
                                                color: #fff;
                                            }
    
                                            >span {
                                                font-size: 0.75rem;
                                                color: #fff;

                                            }
                                        }
                                    }
                                }
                            }
    
                            .proj-img{
                                width: 90%;
                                >p{
                                    width: 100%;
                                    >img{
                                        width: 100%;
                                    }
                                }
                            }
                            &.open {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

}


/* 
==============================================
=================반응형 타블랫=================
==============================================
*/
@media (min-width:768px) and (max-width:1024px) {
    .home_btn{
        >a{
            position: fixed;
            bottom: 18%;
            right: 5%;
            z-index: 10;
    
            >svg{
                width: 75%;
                >path{
                    &:hover{
                        fill: #bc9273;
                    }
                }
            }
        }
    }
    
    main {
        overflow: hidden;
        .contain {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #0b0d0a;
            margin: 0 auto;
    
    
            .sub-navi {
                width: 80%;
                margin: 7vw auto 11vw;
    
                >article {
                    margin-bottom: 2vw;
    
                    .title-02 {
                        color: #fff;
                        font-size: 1.8rem;
                        &::after {
                            content: '';
                            clear: both;
                            width: 100%;
                            height: 12px;
                            display: block;
                            border-bottom: 2px solid #fff;
                        }
                    }
                }
    
                .portfolio {
                    margin: 3vw auto 4vw;
                    .port_nav {
                        display: flex;
                        justify-content: space-around;
    
                        .sub_tab {
                            flex-shrink: 0;
                            color: #b1b1b1;
                            cursor: pointer;
                            font-size: 1.4rem;
                            &.active {
                                color: #fff;
                                font-weight: bold;
                                text-shadow: 3px 3px 5px #b1b1b1;
                            }
                        }
                    }
                }
    
    
                .section-title {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 3vw;
    
                    .tab-title {
                        margin-right: 5vw;
                        display: none;
    
                        >h3 {
                            font-size: 2.2rem;
                            color: #b1b1b1;
    
                            >b {
                                font-size: 4rem;
                                color: #b1b1b1;
                            }
                        }
    
                        &.active {
                            display: block;
                        }
                    }
                }
    
                .explain {
                    .contains {
                        .sub-proj {
    
                            .proj-title {
                                margin-bottom: 3vw;
    
                                >h4 {
                                    display: inline-block;
                                    font-size: 1.6rem;
                                    color: #fff;
                                    padding-right: 3vw;
                                }
    
                                >a {
                                    display: inline-block;
                                    color: #fff;
                                    font-size: 0.8rem;
                                    &:hover {
                                        color: #bc9273;
                                    }
    
                                    &:nth-of-type(2){
                                        margin-left: 3vw;
                                    }
                                }
                            }
    
                            .description {
                                margin-bottom: 8vw;
    
                                >ul {
                                    display: flex;
                                    justify-content: left;
    
                                    >li {
                                        margin-right: 3vw;
    
                                        >p {
                                            white-space: pre-line;
                                            color: #fff;
                                            padding: 1vw 0 0;

                                            >b {
                                                font-size: 1rem;
                                                color: #fff;
                                            }
    
                                            >span {
                                                font-size: 0.75rem;
                                                color: #fff;

                                            }
                                        }
                                    }
                                }
                            }
    
                            .proj-img{
                                width: 90%;
                                >p{
                                    width: 100%;
                                    >img{
                                        width: 100%;
                                    }
                                }
                            }
                            &.open {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}


/*
==============================================
=================반응형 모바일=================
==============================================
*/

@media (min-width:320px) and (max-width:767px) {

        .home_btn{
        >a{
            position: fixed;
            bottom: 15%;
            right: 5%;
            z-index: 10;
    
            >svg{
                width: 75%;
                >path{
                    &:hover{
                        fill: #bc9273;
                    }
                }
            }
        }
    }
    
    main {
        overflow: hidden;

        .contain {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #0b0d0a;
            margin: 0 auto;
    
    
            .sub-navi {
                width: 80%;
                margin: 7vw auto 11vw;
    
                >article {
                    padding-top: 5vw;
                    margin-bottom: 2vw;
    
                    .title-02 {
                        color: #fff;
                        font-size: 1.4rem;
                        &::after {
                            content: '';
                            clear: both;
                            width: 100%;
                            height: 12px;
                            display: block;
                            border-bottom: 2px solid #fff;
                        }
                    }
                }
    
                .portfolio {
                    margin: 3vw auto 4vw;
                    .port_nav {
                        display: flex;
                        justify-content: space-around;
    
                        .sub_tab {
                            flex-shrink: 0;
                            color: #b1b1b1;
                            cursor: pointer;
                            font-size: 1rem;
                            &.active {
                                color: #fff;
                                font-weight: bold;
                                text-shadow: 3px 3px 5px #b1b1b1;
                            }
                        }
                    }
                }
    
    
                .section-title {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 5vw;
                    margin-top: 10vw;
                    .tab-title {
                        margin-right: 5vw;
                        display: none;
    
                        >h3 {
                            font-size: 1.2rem;
                            color: #b1b1b1;
    
                            >b {
                                font-size: 2rem;
                                color: #b1b1b1;
                            }
                        }
    
                        &.active {
                            display: block;
                        }
                    }
                }
    
                .explain {
                    .contains {
                        .sub-proj {
    
                            .proj-title {
                                margin-bottom: 6vw;
    
                                >h4 {
                                    display: inline-block;
                                    font-size: 1rem;
                                    color: #fff;
                                    padding-right: 3vw;
                                }
    
                                >a {
                                    display: inline-block;
                                    color: #fff;
                                    font-size: 0.5rem;
                                    &:hover {
                                        color: #bc9273;
                                    }
    
                                    &:nth-of-type(2){
                                        margin-left: 3vw;
                                    }
                                }
                            }
    
                            .description {
                                margin-bottom: 15vw;
    
                                >ul {
                                    display: block;
                                    justify-content: left;
                                    
                                    >li {
                                        margin-right: 3vw;
                                        margin-bottom: 5vw;
                                        
                                        >p {
                                            white-space: pre-line;
                                            color: #fff;
                                            padding: 1vw 0 0;
                                            line-height: 0.5em;

                                            >b {
                                                font-size: 0.65rem;
                                                color: #fff;
                                            }
    
                                            >span {
                                                font-size: 0.5rem;
                                                color: #fff;

                                            }
                                        }
                                    }
                                }
                            }
    
                            .proj-img{
                                width: 100%;
                                >p{
                                    width: 100%;
                                    >img{
                                        width: 100%;
                                    }
                                }
                            }
                            &.open {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

}